
.va_index_bar{
  .van-index-bar__index {
    line-height: 2;
    color: palevioletred;
  }
}
.va_ellipsis_bar{
  .van-tab {
    font-size: 40px;
  }
}
.van_address_edit{
  .van-field__label {
    width: 200px;
    font-size: 32px;
    line-height: 60px;
    margin-left: 20px;
  }
  .van-field__body {
    font-size: 32px;
    line-height: 60px;
  }
  .van-cell__title {
    font-size: 32px;
    margin-left: 20px;
  }
}
.van__tab {
  .van-tab span {
    font-size: 32px;
  }
}


